:root {
    --list-item-bg-color: #e0e1dd;
    --list-item-bg-color-hover: #354f52;
    --foreground-color: #282828;
    --accent-color: #84a98c;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Onest', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--foreground-color);
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
}

header img {
    border-radius: 50%;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
}

header div p, header div h1 {
    margin: 0;
}

header div p {
    font-size: 18px;
}

main ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 12px;
    padding: 0;
}

main ul li a {
    display: flex;
    justify-content: center;
    padding: 6px 32px;
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--list-item-bg-color);
    color: var(--foreground-color);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

main ul li a:hover {
    background-color: var(--list-item-bg-color-hover);
    color: whitesmoke;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 16px;
}
